.item{
   padding: 20px;
}

.item img{
    max-width: 300px;
    cursor: pointer;
}
.item p {
    margin: 6px 0px;
    cursor: pointer;
    word-wrap: break-word; 
    white-space: normal; 
    overflow-wrap: break-word; 
    max-width: 100%;
}

.item-prices{
    display: flex;
    gap: 20px;
}

.item-price-new{
    color:#374151;
    font-size: 18px;
    font-weight: 600;

}


.item-price-old{
    color: #8c8c8c;
    font-size: 18px;
    font-weight: 500;
    text-decoration: line-through;
}

.item:hover{
    transform: scale(1.05);
    transition: 0.6s;
}

.item-link{
    text-decoration: none;
    color: black;
}


@media (max-width: 1500px) {
    .item img {
        width: 260px;
    }

    .item p {
        font-size: 17px;
    }

    .item-price-new, .item-price-old {
        font-size: 17px;
    }
}

@media (max-width: 1200px) {
    .item img {
        width: 240px;
    }

    .item p {
        font-size: 16px;
    }

    .item-price-new, .item-price-old {
        font-size: 16px;
    }
}

@media (max-width: 992px) {
    .item img {
        width: 220px;
    }

    .item p {
        font-size: 15px;
    }

    .item-price-new, .item-price-old {
        font-size: 15px;
    }
}

@media (max-width: 768px) {
    .item img {
        width: 200px;
    }

    .item p {
        font-size: 14px;
    }

    .item-price-new, .item-price-old {
        font-size: 14px;
    }
}

@media (max-width: 576px) {
    .item img {
        width: 180px;
    }

    .item p {
        font-size: 13px;
    }

    .item-price-new, .item-price-old {
        font-size: 13px;
    }
}

@media (max-width: 400px) {
    .item img {
        width: 160px;
    }

    .item p {
        font-size: 12px;
    }

    .item-price-new, .item-price-old {
        font-size: 12px;
    }
}