

.navbar{
    display: flex;
    justify-content: space-around;
    padding: 16px;
    box-shadow: 0 1px 3px -2px black ;
}

.nav-logo{
    align-items: center;
    gap: 10px;
}

.logo {
    width: 80px;
    height: 60px;
    cursor: pointer;
}


.nav-menu{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 50px;
    color:black ;
    font-size: 20px;
    font-weight: 500;
}

.nav-menu li{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3px;
    cursor: pointer;
}

.nav-menu hr{
    border: none;
    width: 80%;
    height: 3px;
    border-radius: 10px;
    background: #f4cb2b;
}

.nav-login-cart{
    display: flex;
    align-items: center;
    gap: 45px;
}

.nav-cart{
    position: relative;
    top: 15px;
}

.nav-login-cart button{
    width: 120px;
    height:40px;
    outline: none;
    border-radius: 7px;
    background: #f4cb2b;
    color: black;
    border: none;
    font-weight: 500;
    cursor: pointer;
    margin-left: 9px;
}

.nav-login-cart button:active{
    background:#e8c125 ;
}

.nav-cart-counter {
   width: 20px;
   height:20px;
   padding: 3px;
   border-radius: 50%;
   font-size: 14px;
   background: #f4cb2b;
   display: flex;         
   align-items: center;  
   justify-content: center;
   font-weight: bold;     
   color: #000;  
   position: relative;
   left: 35px;
   bottom: 10px;      
}
