.breadcrum {
    display: flex;
    align-items: center;
    gap: 8px;
    color: #5e5e5e;
    font-size: 16px;
    font-weight: 600;
    margin: 60px 150px;
    text-transform: capitalize;
    flex-wrap: wrap; 
}

/* Responsive Styling */
@media (max-width: 1500px) {
    .breadcrum {
        margin: 50px 120px;
        font-size: 15px;
    }
}

@media (max-width: 1200px) {
    .breadcrum {
        margin: 40px 80px;
        font-size: 14px;
    }
}

@media (max-width: 992px) {
    .breadcrum {
        margin: 30px 50px;
        font-size: 13px;
    }
}

@media (max-width: 768px) {
    .breadcrum {
        margin: 20px 30px;
        font-size: 12px;
    }
}

@media (max-width: 576px) {
    .breadcrum {
        margin: 15px 20px;
        font-size: 11px;
    }
}

@media (max-width: 400px) {
    .breadcrum {
        margin: 10px;
        font-size: 10px;
        gap: 5px;
    }
}
