.popular{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    height: 90vh;

}
.popular h1{
    color: #171717;
    font-size: 50px;
    font-weight: 600;
}

.popular hr{
    width: 200px;
    height: 6px;
    border-radius: 10px;
    background: #f4cb2b;
    border: none;
}

.popular-item{
    margin-top:50px;
    display: flex;
    gap: 30px;
}

@media (max-width: 1500px) {
    .popular {
        height: auto;
        text-align: center;
        padding: 5%;
    }

    .popular h1 {
        font-size: 2.5rem; /* Reduce heading size */
    }

    .popular-item {
        display: grid;
        grid-template-columns: repeat(2, 1fr); /* 2 cards per row */
        gap: 30px;
        justify-content: center;
    }
}

@media (max-width: 1024px) {
    .popular h1 {
        font-size: 2rem;
    }

    .popular-item {
        gap: 20px;
    }
}

@media (max-width: 768px) {
    .popular h1 {
        font-size: 1.8rem;
    }

    .popular-item {
        grid-template-columns: repeat(1, 1fr); 
        gap: 15px;
    }
}

@media (max-width: 480px) {
    .popular h1 {
        font-size: 1.5rem;
    }

    .popular-item {
        gap: 10px;
    }
}
